@use '_mixin' as m;

.service {
    padding-top: calc(m.$header-height + m.$section-padding);
    padding-bottom: m.$section-padding;

    @include m.sp {
        padding-top: calc(m.$header-height + m.$sp-section-padding);
        padding-bottom: m.$sp-section-padding;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        gap: clamp(2%, 5vw, 10%);

        @include m.tab {
            flex-direction: column;
            gap: 100px;
        }

        &__service {
            width: 40%;
            height: 65vh;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            @include m.tab {
                width: 100%;
                height: auto;
            }

            img {
                height: 300px;
                object-fit: contain;

                @include m.tab {
                    height: auto;
                    width: 100%;
                }
            }
            .text {
                margin-top: 60px;
                margin-bottom: auto;

                @include m.tab {
                    margin-block: 30px;
                }
            }
        }

        &__mirx {
            width: 60%;
            height: 65vh;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include m.tab {
                width: 100%;
                height: auto;
            }

            img {
                height: 300px;
                object-fit: cover;

                @include m.tab {
                    height: 450px;
                    object-position: 40%;
                }

                @include m.sp {
                    height: 300px;
                }
            }
            .mirx-text {
                margin-bottom: auto;

                @include m.tab {
                    margin-block: 30px;
                }

                .title {
                    font-weight: bold;
                    margin-top: 20px;
                    margin-bottom: 15px;
                }
            }
        }
        
    }
}